<a href="https://colab.research.google.com/github/mjag7682/CS9-1-NLP-for-Twitter-Data-for-predicting-stocks/blob/Approach2_Test/Labelling_Approach_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Code to download file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [2]:
!pip install yfinance --upgrade --no-cache-dir

Collecting yfinance
  Downloading https://files.pythonhosted.org/packages/c2/31/8b374a12b90def92a4e27d0fc595fc43635f395984e36a075244d98bd265/yfinance-0.1.54.tar.gz
Requirement already satisfied, skipping upgrade: pandas>=0.24 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.0.5)
Requirement already satisfied, skipping upgrade: numpy>=1.15 in /usr/local/lib/python3.6/dist-packages (from yfinance) (1.18.5)
Requirement already satisfied, skipping upgrade: requests>=2.20 in /usr/local/lib/python3.6/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied, skipping upgrade: multitasking>=0.0.7 in /usr/local/lib/python3.6/dist-packages (from yfinance) (0.0.9)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2020.6.20)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.15.0)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.54-py2.py3-none-any.whl size=22409 sha256=f65d3a7ba50ea0a46ba7d5407f7c748e7a4f0e9cd9cb81a4adfbeeae05644749
  Stored in directory: /tmp/pip-ephem-wheel-cache-4e9z7tuu/wheels/f9/e3/5b/ec24dd2984b12d61e0abf26289746c2436a0e7844f26f2515c
Successfully built yfinance
Installing collected packages: yfinance
Successfully installed yfinance-0.1.54

In [3]:
# id = '1p7AzxQBSY1H7KIrO64lJ6UlMqa3gpPsd'
# downloaded = drive.CreateFile({'id':id}) 
# downloaded.GetContentFile('V.csv')  

id = '1uIx8XiHYdBdWeikoyOYP3ieZg19GedxG'
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('stocktwits_V.csv')

In [4]:
from pandas_datareader import data as pdr

import yfinance as yf
# yf.pdr_override()

yahoo_data = yf.download("V", start="2009-09-01", end="2020-09-23")
yahoo_data.reset_index(level=0, inplace=True)
yahoo_data.columns

/usr/local/lib/python3.6/dist-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

[*********************100%***********************]  1 of 1 completed

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [5]:
import pandas as pd
start_date = '2009-09-01'
end_date = '2020-09-22'

df_prices = pd.DataFrame(yahoo_data)
all_days = pd.date_range(start=start_date, end=end_date, freq='D')
df_prices.info
df_prices['Date'] =  pd.to_datetime(df_prices['Date'], format='%Y/%m/%d')
df_prices = df_prices.sort_values(by=['Date'], ascending=[True])
df_prices.set_index('Date', inplace=True)
df_prices = df_prices.reindex(all_days).reset_index().rename(columns={"index":"Date"})
df_prices[:20]
# # df_prices.tail(15)

         Date       Open       High  ...      Close  Adj Close      Volume
0  2009-09-01  17.695000  18.000000  ...  17.545000  16.186243  22288400.0
1  2009-09-02  17.442499  17.715000  ...  17.525000  16.167797  13335200.0
2  2009-09-03  17.602501  17.762501  ...  17.727501  16.354603  17066400.0
3  2009-09-04  17.662500  17.737499  ...  17.590000  16.227755   9894400.0
4  2009-09-05        NaN        NaN  ...        NaN        NaN         NaN
5  2009-09-06        NaN        NaN  ...        NaN        NaN         NaN
6  2009-09-07        NaN        NaN  ...        NaN        NaN         NaN
7  2009-09-08  17.674999  17.812500  ...  17.737499  16.363836  12220400.0
8  2009-09-09  17.815001  17.825001  ...  17.620001  16.255436  16388000.0
9  2009-09-10  17.594999  18.122499  ...  18.077499  16.677505  17001600.0
10 2009-09-11  18.125000  18.125000  ...  18.072500  16.672892  15394000.0
11 2009-09-12        NaN        NaN  ...        NaN        NaN         NaN
12 2009-09-13        NaN        NaN  ...        NaN        NaN         NaN
13 2009-09-14  17.877501  18.250000  ...  18.217501  16.806669  13099200.0
14 2009-09-15  18.250000  18.362499  ...  18.299999  16.882772  15351200.0
15 2009-09-16  18.312500  18.650000  ...  18.522499  17.088043  16601600.0
16 2009-09-17  18.487499  18.715000  ...  18.455000  17.025766  14236400.0
17 2009-09-18  18.480000  18.567499  ...  18.447500  17.018847  15210000.0
18 2009-09-19        NaN        NaN  ...        NaN        NaN         NaN
19 2009-09-20        NaN        NaN  ...        NaN        NaN         NaN

[20 rows x 7 columns]

In [6]:
####Comparing Close price and Open Price of Same day
price_change = []
for i in range(len(df_prices)):
  if df_prices.iloc[i][4] > df_prices.iloc[i][1]:
    price_change.append(1)
  else:
    price_change.append(0)
df_prices['PriceChange'] = price_change
df_prices.tail(15)

           Date        Open        High  ...   Adj Close      Volume  PriceChange
4025 2020-09-08  200.779999  202.250000  ...  200.119995  14186900.0            0
4026 2020-09-09  204.350006  206.289993  ...  204.059998   7532600.0            0
4027 2020-09-10  204.860001  207.000000  ...  201.539993   7243000.0            0
4028 2020-09-11  201.580002  202.410004  ...  200.679993   7439000.0            0
4029 2020-09-12         NaN         NaN  ...         NaN         NaN            0
4030 2020-09-13         NaN         NaN  ...         NaN         NaN            0
4031 2020-09-14  203.350006  206.410004  ...  204.979996  11730500.0            1
4032 2020-09-15  206.750000  208.210007  ...  205.389999   6328600.0            0
4033 2020-09-16  206.740005  207.750000  ...  205.130005   6135000.0            0
4034 2020-09-17  202.850006  205.580002  ...  205.270004   7474900.0            1
4035 2020-09-18  205.470001  205.720001  ...  202.610001   9084100.0            0
4036 2020-09-19         NaN         NaN  ...         NaN         NaN            0
4037 2020-09-20         NaN         NaN  ...         NaN         NaN            0
4038 2020-09-21  199.910004  201.250000  ...  197.449997   9656000.0            0
4039 2020-09-22  198.089996  200.710007  ...  200.559998   7543100.0            1

[15 rows x 8 columns]

In [ ]:
####Comparing Close price of previous day with close price of today
# price_change = []
# for i in range(len(df_prices)):
#   if df_prices.iloc[i-1][4] < df_prices.iloc[i][4]:
#     price_change.append(1)
#   else:
#     price_change.append(0)
# df_prices['PriceChange'] = price_change
# df_prices.head(15)

In [7]:
df_tweets = pd.read_csv('stocktwits_V.csv')
df_tweets.head()

  symbol  ... message_id
0      V  ...  229448903
1      V  ...  229447474
2      V  ...  229443940
3      V  ...  229440824
4      V  ...  229440705

[5 rows x 5 columns]

In [8]:
df_tweets['datetime'] = df_tweets['datetime'].astype('datetime64[ns]')
df_tweets['Date'] = [d.date() for d in df_tweets['datetime']]
df_tweets['Time'] = [d.time() for d in df_tweets['datetime']]
df_tweets

      symbol  ...      Time
0          V  ...  09:44:32
1          V  ...  09:25:57
2          V  ...  08:37:48
3          V  ...  07:48:17
4          V  ...  07:46:09
...      ...  ...       ...
50234      V  ...  16:14:23
50235      V  ...  13:11:27
50236      V  ...  11:09:07
50237      V  ...  12:59:36
50238      V  ...  07:26:46

[50239 rows x 7 columns]

In [9]:
from datetime import datetime
def get_polarity (date):
  rslt_df = df_prices[df_prices['Date'] == date] 
  return rslt_df['PriceChange'].values[0]


date_str = '2020-07-21' # The date - 29 Dec 2017
get_polarity (date_str)

0

In [10]:
for i in range(len(df_tweets)):
  # print(df_tweets.iloc[i][5])
  polarity = get_polarity(df_tweets.iloc[i][5].strftime("%Y-%m-%d"))
  df_tweets.at[i, 'polarity'] = polarity
  # df_tweets["polarity"] = df_tweets["polarity"].astype(float).astype(int)
  # print(polarity)
df_tweets["polarity"] = df_tweets["polarity"].astype(float).astype(int)
df_tweets[:40]

   symbol  ... polarity
0       V  ...        0
1       V  ...        0
2       V  ...        0
3       V  ...        0
4       V  ...        0
5       V  ...        0
6       V  ...        0
7       V  ...        0
8       V  ...        0
9       V  ...        0
10      V  ...        0
11      V  ...        0
12      V  ...        0
13      V  ...        0
14      V  ...        0
15      V  ...        0
16      V  ...        1
17      V  ...        1
18      V  ...        1
19      V  ...        1
20      V  ...        1
21      V  ...        1
22      V  ...        1
23      V  ...        1
24      V  ...        1
25      V  ...        1
26      V  ...        1
27      V  ...        1
28      V  ...        1
29      V  ...        1
30      V  ...        1
31      V  ...        1
32      V  ...        1
33      V  ...        1
34      V  ...        1
35      V  ...        1
36      V  ...        1
37      V  ...        1
38      V  ...        1
39      V  ...        1

[40 rows x 8 columns]

In [11]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [13]:
df_tweets.to_csv('labelled_tweets.csv')
!cp labelled_tweets.csv "drive/My Drive/"