<a href="https://colab.research.google.com/github/mjag7682/CS9-1-NLP-for-Twitter-Data-for-predicting-stocks/blob/labelling_approaches/Labelling_Approach2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Install, Import, Mount statements

In [ ]:
!pip install contractions
!pip install emoji
!pip install ekphrasis

import pandas as pd
import re
import emoji
import nltk
import contractions
import torch

nltk.download('punkt')
nltk.download('stopwords')
# from nltk.tokenize import word_tokenize
from nltk.tokenize import TweetTokenizer 
from nltk.corpus import stopwords as sw
from nltk.tokenize import word_tokenize 
from nltk.tokenize.treebank import TreebankWordDetokenizer
import requests 
from pprint import pprint
import numpy as np
from nltk.stem import PorterStemmer

import tensorflow as tf
import tensorflow_hub as hub
from datetime import datetime
from tensorflow import keras
# import bert
# from bert import run_classifier
# from bert import optimization
# from bert import tokenization
import os
import pprint
import json
import random
import string
import sys
from ekphrasis.classes.segmenter import Segmenter
import itertools

Requirement already satisfied: contractions in /usr/local/lib/python3.6/dist-packages (0.0.25)
Requirement already satisfied: textsearch in /usr/local/lib/python3.6/dist-packages (from contractions) (0.0.17)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.6/dist-packages (from textsearch->contractions) (1.4.0)
Requirement already satisfied: Unidecode in /usr/local/lib/python3.6/dist-packages (from textsearch->contractions) (1.1.1)
Requirement already satisfied: emoji in /usr/local/lib/python3.6/dist-packages (0.6.0)
Requirement already satisfied: ekphrasis in /usr/local/lib/python3.6/dist-packages (0.5.1)
Requirement already satisfied: ftfy in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (5.8)
Requirement already satisfied: termcolor in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (1.1.0)
Requirement already satisfied: ujson in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (4.0.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (3.2.2)
Requirement already satisfied: colorama in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (0.4.4)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (4.41.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (1.18.5)
Requirement already satisfied: nltk in /usr/local/lib/python3.6/dist-packages (from ekphrasis) (3.2.5)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from ftfy->ekphrasis) (0.2.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->ekphrasis) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->ekphrasis) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->ekphrasis) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->ekphrasis) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from nltk->ekphrasis) (1.15.0)
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
#load csv file
#stocktwits_PG
#1tlueLaJhlduNMgRHk8Omkog5nNI8I8Yk
# id = '1diLooyj8DtyyxwiihpbTJdfY4D98irLE'  #AAPL
# id = '1tlueLaJhlduNMgRHk8Omkog5nNI8I8Yk'  #PG
# downloaded = drive.CreateFile({'id':id}) 
# downloaded.GetContentFile('stocktwits_PG.csv')
# df_st1 = pd.read_csv('stocktwits_PG.csv')
# df_st1.head()

In [ ]:
def get_compData(comp):
  if comp =='AAPL':
    # AAPL: https://drive.google.com/file/d/1diLooyj8DtyyxwiihpbTJdfY4D98irLE/view?usp=sharing
    id = '1diLooyj8DtyyxwiihpbTJdfY4D98irLE'
    downloaded1 = drive.CreateFile({'id':id}) 
    downloaded1.GetContentFile('stocktwits_AAPL.csv')
    df_st1 = pd.read_csv('stocktwits_AAPL.csv')
    return df_st1
  elif comp=='ADBE':
    # ADBE: https://drive.google.com/file/d/1SMyRg8aUnnQTbukVadBo814qdS6xDnP1/view?usp=sharing
    id = '1SMyRg8aUnnQTbukVadBo814qdS6xDnP1'
    downloaded2 = drive.CreateFile({'id':id}) 
    downloaded2.GetContentFile('stocktwits_ADBE.csv')
    df_st2 = pd.read_csv('stocktwits_ADBE.csv')
    return df_st2
  elif comp=='AMZN':
    # AMZN: https://drive.google.com/file/d/1ffmFOrlcaTCCByKMq7E1LCXXK6daMkB_/view?usp=sharing
    id = '1ffmFOrlcaTCCByKMq7E1LCXXK6daMkB_'
    downloaded3 = drive.CreateFile({'id':id}) 
    downloaded3.GetContentFile('stocktwits_AMZN.csv')
    df_st3 = pd.read_csv('stocktwits_AMZN.csv')
    return df_st3
  elif comp=='BAC':
    # BAC: https://drive.google.com/file/d/1HeaKJtlSz2xiLT3sx5FLdYmzCkVDGIjW/view?usp=sharing
    id = '1HeaKJtlSz2xiLT3sx5FLdYmzCkVDGIjW'
    downloaded4 = drive.CreateFile({'id':id}) 
    downloaded4.GetContentFile('stocktwits_BAC.csv')
    df_st4 = pd.read_csv('stocktwits_BAC.csv')
    return df_st4

  elif comp=='BRK.A':

    #BRK_A: https://drive.google.com/file/d/1HeQhAU20YyT1tRCD-yN83vrUGY7jDDSt/view?usp=sharing
    id = '1HeQhAU20YyT1tRCD-yN83vrUGY7jDDSt'
    downloaded5 = drive.CreateFile({'id':id}) 
    downloaded5.GetContentFile('stocktwits_BRK_A.csv')
    df_st5 = pd.read_csv('stocktwits_BRK_A.csv')
    return df_st5
  elif comp=='BRK.B':
    #BRK_B: https://drive.google.com/file/d/1FRrwrIVJVyFqg025SWasKW84qOJMhe84/view?usp=sharing
    id = '1FRrwrIVJVyFqg025SWasKW84qOJMhe84'
    downloaded6 = drive.CreateFile({'id':id}) 
    downloaded6.GetContentFile('stocktwits_BRK_B.csv')
    df_st6 = pd.read_csv('stocktwits_BRK_B.csv')
    return df_st6
  elif comp=='DIA':
    #DIA: https://drive.google.com/file/d/1riZ8IdkupLre9NQ7McBO21wDFVX_NPvg/view?usp=sharing
    id = '1riZ8IdkupLre9NQ7McBO21wDFVX_NPvg'
    downloaded7 = drive.CreateFile({'id':id}) 
    downloaded7.GetContentFile('stocktwits_DIA.csv')
    df_st7 = pd.read_csv('stocktwits_DIA.csv')
    return df_st7
  elif comp=='DIS':
    #DIS: https://drive.google.com/file/d/1y5IT3gA_yIJnFLTsxy1GHdIY4SHwj84Y/view?usp=sharing
    id = '1y5IT3gA_yIJnFLTsxy1GHdIY4SHwj84Y'
    downloaded8 = drive.CreateFile({'id':id}) 
    downloaded8.GetContentFile('stocktwits_DIS.csv')
    df_st8 = pd.read_csv('stocktwits_DIS.csv')
    return df_st8
  elif comp=='FB':
    #FB: https://drive.google.com/file/d/1x1FugJhUQx9xKWS9LYnio1MU8oi5iuTc/view?usp=sharing
    id = '1x1FugJhUQx9xKWS9LYnio1MU8oi5iuTc'
    downloaded9 = drive.CreateFile({'id':id}) 
    downloaded9.GetContentFile('stocktwits_FB.csv')
    df_st9 = pd.read_csv('stocktwits_FB.csv')
    return df_st9
  elif comp=='GOOG':
    #GOOG: https://drive.google.com/file/d/1UMnPXfG_XkgLJAQ2VtLvMPBPZhN68Ezw/view?usp=sharing
    id = '1UMnPXfG_XkgLJAQ2VtLvMPBPZhN68Ezw'
    downloaded10 = drive.CreateFile({'id':id}) 
    downloaded10.GetContentFile('stocktwits_GOOG.csv')
    df_st10 = pd.read_csv('stocktwits_GOOG.csv')
    return df_st10
  elif comp=='GOOGL':
    #GOOGL: https://drive.google.com/file/d/1NbCpQX0sTgXsqcW7xMbkrDPlAOscIoTL/view?usp=sharing
    id = '1NbCpQX0sTgXsqcW7xMbkrDPlAOscIoTL'
    downloaded11 = drive.CreateFile({'id':id}) 
    downloaded11.GetContentFile('stocktwits_GOOGL.csv')
    df_st11 = pd.read_csv('stocktwits_GOOGL.csv')
    return df_st11
  elif comp=='HD':
    #HD: https://drive.google.com/file/d/10wbCzJMcjLWAqrlEtHlWieIrq7dyolG2/view?usp=sharing
    id = '10wbCzJMcjLWAqrlEtHlWieIrq7dyolG2'
    downloaded12 = drive.CreateFile({'id':id}) 
    downloaded12.GetContentFile('stocktwits_HD.csv')
    df_st12 = pd.read_csv('stocktwits_HD.csv')
    return df_st12
  elif comp=='INTC':
    # INTC: https://drive.google.com/file/d/1k1-NSl8qLTa2oDs1G8CFC4CJzkv9mugw/view?usp=sharing 
    id = '1k1-NSl8qLTa2oDs1G8CFC4CJzkv9mugw'
    downloaded13 = drive.CreateFile({'id':id}) 
    downloaded13.GetContentFile('stocktwits_INTC.csv')
    df_st13 = pd.read_csv('stocktwits_INTC.csv')
    return df_st13
  elif comp=='JNJ':
    # JNJ: https://drive.google.com/file/d/1Qiwu9vbDYU527szR8waaFDoFCyY4i_bc/view?usp=sharing
    id = '1Qiwu9vbDYU527szR8waaFDoFCyY4i_bc'
    downloaded14 = drive.CreateFile({'id':id}) 
    downloaded14.GetContentFile('stocktwits_JNJ.csv')
    df_st14 = pd.read_csv('stocktwits_JNJ.csv')
    return df_st14
  elif comp=='NFLX':
    # NFLX: https://drive.google.com/file/d/1DdJ8MPdgt9bxF3ZagkWUp45N4RMQ8Al6/view?usp=sharing
    id = '1DdJ8MPdgt9bxF3ZagkWUp45N4RMQ8Al6'
    downloaded15 = drive.CreateFile({'id':id}) 
    downloaded15.GetContentFile('stocktwits_NFLX.csv')
    df_st15 = pd.read_csv('stocktwits_NFLX.csv')
    return df_st15
  elif comp=='PG':
    # PG: https://drive.google.com/file/d/1tlueLaJhlduNMgRHk8Omkog5nNI8I8Yk/view?usp=sharing
    id = '1tlueLaJhlduNMgRHk8Omkog5nNI8I8Yk'
    downloaded16 = drive.CreateFile({'id':id}) 
    downloaded16.GetContentFile('stocktwits_PG.csv')
    df_st16 = pd.read_csv('stocktwits_PG.csv')
    return df_st16
  elif comp=='QQQ':
    # QQQ: https://drive.google.com/file/d/1gUsl5L4VBgsL9oqBxaUdk6tA9r4VxDjo/view?usp=sharing
    id = '1gUsl5L4VBgsL9oqBxaUdk6tA9r4VxDjo'
    downloaded17 = drive.CreateFile({'id':id}) 
    downloaded17.GetContentFile('stocktwits_QQQ.csv')
    df_st17 = pd.read_csv('stocktwits_QQQ.csv')
    return df_st17
  elif comp=='SPY':
    # SPY: https://drive.google.com/file/d/10s-zYQPIqlkNsUahgzDRqJGw0VAkn-R1/view?usp=sharing
    id = '10s-zYQPIqlkNsUahgzDRqJGw0VAkn-R1'
    downloaded18 = drive.CreateFile({'id':id}) 
    downloaded18.GetContentFile('stocktwits_SPY.csv')
    df_st18 = pd.read_csv('stocktwits_SPY.csv')
    return df_st18
  elif comp=='T':
    # T: https://drive.google.com/file/d/1rk3PsikhgrA7MxV28tUbzj7EOn9K5Ixu/view?usp=sharing
    id = '1rk3PsikhgrA7MxV28tUbzj7EOn9K5Ixu'
    downloaded19 = drive.CreateFile({'id':id}) 
    downloaded19.GetContentFile('stocktwits_T.csv')
    df_st19 = pd.read_csv('stocktwits_T.csv')
    return df_st19
  elif comp=='TSLA':
    # TSLA: https://drive.google.com/file/d/1on57uk2gd_CLsnj1dcRfuB_KsYydzEp2/view?usp=sharing
    id = '1on57uk2gd_CLsnj1dcRfuB_KsYydzEp2'
    downloaded20 = drive.CreateFile({'id':id}) 
    downloaded20.GetContentFile('stocktwits_TSLA.csv')
    df_st20 = pd.read_csv('stocktwits_TSLA.csv')
    return df_st20
  elif comp=='UNH':
    # UNH: https://drive.google.com/file/d/1zguMHb3pL2tCT4TYV8XJcP-dWTcq28mY/view?usp=sharing
    id = '1zguMHb3pL2tCT4TYV8XJcP-dWTcq28mY'
    downloaded21 = drive.CreateFile({'id':id}) 
    downloaded21.GetContentFile('stocktwits_UNH.csv')
    df_st21 = pd.read_csv('stocktwits_UNH.csv')
    return df_st21
  elif comp=='V':
    # V: https://drive.google.com/file/d/1qLI1Rsyf2ebZu53I8QaFuOQSeTyZShLg/view?usp=sharing
    id = '1qLI1Rsyf2ebZu53I8QaFuOQSeTyZShLg'
    downloaded22 = drive.CreateFile({'id':id}) 
    downloaded22.GetContentFile('stocktwits_V.csv')
    df_st22 = pd.read_csv('stocktwits_V.csv')
    return df_st22
  elif comp=='VIX':
    # VIX: https://drive.google.com/file/d/1SoIue0nfsn_GGMOroFg3tEp8re-v7PnJ/view?usp=sharing
    id = '1SoIue0nfsn_GGMOroFg3tEp8re-v7PnJ'
    downloaded23 = drive.CreateFile({'id':id}) 
    downloaded23.GetContentFile('stocktwits_VIX.csv')
    df_st23 = pd.read_csv('stocktwits_VIX.csv')
    return df_st23
  elif comp=='VZ':
    # VZ: https://drive.google.com/file/d/1ddISbB0qfDpM69senqEmmf6xbNWOpNUJ/view?usp=sharing
    id = '1ddISbB0qfDpM69senqEmmf6xbNWOpNUJ'
    downloaded24 = drive.CreateFile({'id':id}) 
    downloaded24.GetContentFile('stocktwits_VZ.csv')
    df_st24 = pd.read_csv('stocktwits_VZ.csv')
    return df_st24
  elif comp=='WMT':
    # WMT: https://drive.google.com/file/d/14Zdh1ZCj5RxZltXknG3Qisxhwzge5rkV/view?usp=sharing
    id = '14Zdh1ZCj5RxZltXknG3Qisxhwzge5rkV'
    downloaded25 = drive.CreateFile({'id':id}) 
    downloaded25.GetContentFile('stocktwits_WMT.csv')
    df_st25 = pd.read_csv('stocktwits_WMT.csv')
    return df_st25

In [ ]:
#Change the company name here
df_st1 = get_compData('PG')
#change the directory you want to save the file
PATH='/content/drive/My Drive/sentiment_data/'

In [ ]:
df_st1.head()

  symbol  ... message_id
0     PG  ...  229729267
1     PG  ...  229707089
2     PG  ...  229689416
3     PG  ...  229686076
4     PG  ...  229680970

[5 rows x 5 columns]

## Load file

In [ ]:
# df_comb = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Capstone/Labelled (Percentage change)/WMT_label2.1.csv')
# combine_ds = df_comb.sample(frac=1)
# combine_ds

## Preprocess data

In [ ]:
df_st1['message'] = df_st1['message'].str.lower()
message = df_st1['message'].tolist()

print(message[:10])

['top dow 30 stocks with the highest payout ratio: $cvx $pg $ba $xom $ko\nhttps://www.finscreener.com/screener/best-dividend-stocks/dj30?&amp;o=1013', '$pg green to red move:   1.11 percentage  to --0.14 percentage  https://www.sleekoptions.com/sleekscan.aspx?did=pg', '$pg bought.  hopefully, ol&#39; gil made the right decision.', '$pg 322 overnight open 321 then down 319', '$pg market share grabs continue for procter &amp; gamble and clorox \n\nhttps://newsfilter.io/a/fc14c65209137f2f70daa24bd9520fa7', '$pg  tough times never last, but tough people do.', 'midday:  $mdlz  $pg  $blk   are our stock suggestions for selling short. more information about sell price range, charts, expected sell returns and option prices are given in our midday video (7/21/2020), only on justrading youtube channel, check it out.  if you would like our daily suggested stocks report, you can join us on patreon as collaborator, supporter or winner. thank you! (part 2)', '$gnus some boards are littered with the worst kinds of people. beggars, thieves, prostitutes (i&#39;m looking at you $pg). but not $gnus. this community is comprised of true ladies and gentlemen -- who want nothing but the best for their fellow man. it&#39;s an honor to serve alongside you fine people.', 'premier reports q2 production results and mercedes restart update http://www.conferencecalltranscripts.org/include?location=https://newswire.ca/news-releases/premier-reports-q2-production-results-and-mercedes-restart-update-879617603.html $pg', 'peak profit for the last 6 expired option alerts for $pg 414.63  | 3.82  | 22.05  | 100.89  | -97.27  | 34.38  |']

In [ ]:
def remove_stopwords(msg):
    filtered_sentence = [w for w in msg_tokens if not w in stop_words]
    return filtered_sentence

def remove_punctuation_re(x):
    x = ' '.join(re.sub("https?://\S+","",x).split())     #Removing URLs

    x = ' '.join(re.sub("^@\S+|\s@\S+","",x).split())     #Removing Mentions

    # x = ' '.join(re.sub(r'[^$\w\s]'," ",x).split())
    x = ' '.join(re.sub(r'[^\w\s]'," ",x).split())        #Removes Hashtags

    x = ' '.join(re.sub(r'_'," ",x).split())              #Removing _ from emojis text

    return x

# replace repeating letter
def rpt_replace(match):
    # print(match.group(1))
    return match.group(1)+match.group(1)

# substitute original word with replaced word, if any
def processRepeatings(data):
    re_t= re.sub(message_rpt, rpt_replace, data )
    # print(re_t)
    return re_t

In [ ]:
stop_words = sw.words("english")
tweet_tokenizer = TweetTokenizer()
detokenizer = TreebankWordDetokenizer()
# message_p = []

# for repeating characters in words
message_rpt = re.compile(r"(.)\1{2,}", re.IGNORECASE)

# segmenter using the word statistics from Twitter
seg_tw = Segmenter(corpus="twitter")

Reading twitter - 1grams ...
Reading twitter - 2grams ...

In [ ]:
message_p = []
for msg in message:
    # remove emojis
    msg = emoji.demojize(msg)

    # fix contractions
    msg = contractions.fix(msg)

    # remove punctuations
    msg = remove_punctuation_re(msg) 

    #tokenize
    msg_tokens = tweet_tokenizer.tokenize(msg)

    #For Hashtags elongated words using Word segmenter
    message_seg = []
    for w in msg_tokens:
      message_seg.append(seg_tw.segment(w))

    # remove stopwords
    msg = remove_stopwords(message_seg)

    if 'rt' in msg:
      # remove retweets
      message_p.append('-1')
    else: 
      # detokenize
      msg = detokenizer.detokenize(msg)

      # removing repeating characters like hurrrryyyyyy-- worrks on tokenized list
      msg = processRepeatings(msg)

      message_p.append(msg)

In [ ]:
message_p[:10]

['top dow 30 stocks highest payout ratio cvx pg ba xom ko',
 'pg green red move 1 11 percentage 0 14 percentage',
 'pg bought hopefully ol 39 gil made right decision',
 'pg 322 overnight open 321 319',
 'pg market share grabs continue procter amp gamble clorox',
 'pg tough times never last tough people',
 'midday mdlz pg blk stock suggestions selling short information sell price range charts expected sell returns option prices given midday video 7 21 2020 justrading youtube channel check would like daily suggested stocks report join us patreon collaborator supporter winner thank part 2',
 'gnus boards littered worst kinds people beggars thieves prostitutes 39 looking pg gnus community comprised true ladies gentlemen want nothing best fellow man 39 honor serve alongside fine people',
 'premier reports q2 production results mercedes restart update pg',
 'peak profit last 6 expired option alerts pg 414 63 3 82 22 05 100 89 97 27 34 38']

In [ ]:
df_st1['message'] = message_p
df_st1

      symbol  ... message_id
0         PG  ...  229729267
1         PG  ...  229707089
2         PG  ...  229689416
3         PG  ...  229686076
4         PG  ...  229680970
...      ...  ...        ...
31489     PG  ...     656150
31490     PG  ...     585492
31491     PG  ...     583704
31492     PG  ...     583120
31493     PG  ...     579505

[31494 rows x 5 columns]

In [ ]:
# Drop Retweets
df_st1.drop(df_st1[df_st1['message'] == '-1'].index, inplace = True) 
df_st1

      symbol  ... message_id
0         PG  ...  229729267
1         PG  ...  229707089
2         PG  ...  229689416
3         PG  ...  229686076
4         PG  ...  229680970
...      ...  ...        ...
31488     PG  ...     689435
31489     PG  ...     656150
31490     PG  ...     585492
31492     PG  ...     583120
31493     PG  ...     579505

[31413 rows x 5 columns]

In [ ]:
#date time split code
df_st1['datetime'] = df_st1['datetime'].astype('datetime64[ns]') #len(df_st1['datetime'])
df_st1['Date'] = [d.date() for d in df_st1['datetime']]   #len(df_st1['Date'])
df_st1['Time'] = [d.time() for d in df_st1['datetime']]

31413

In [ ]:
# df_st1['datetime'] = datetime.strptime(df_st1['datetime'].astype(str), "%Y-%m-%dT%H:%M:%SZ")   #2020-07-21T21:37:30Z	
# df_st1['datetime'] = pd.to_datetime(df_st1['datetime'], format='%b %d, %Y')
import datetime
from datetime import datetime, timedelta, date
# def date_convert(date_to_convert):
#      return datetime.strptime(date_to_convert, '%Y-%m-%dT%H:%M:%SZ').strftime('%Y-%m-%d')

# df_st1['datetime'] = df_st1['datetime'].apply(date_convert)

df_st1['datetime'].tail(5)

31488   2009-10-20 20:05:11
31489   2009-10-11 10:27:55
31490   2009-09-19 15:28:07
31492   2009-09-18 15:02:22
31493   2009-09-17 16:17:25
Name: datetime, dtype: datetime64[ns]

In [ ]:
from pandas_datareader import data as pdr
!pip install yfinance --upgrade --no-cache-dir
import yfinance as yf
from datetime import datetime, timedelta, date
# yf.pdr_override()
start_dt = str(df_st1['Date'].iloc[-1])
start_dt = str((datetime.strptime(start_dt, "%Y-%m-%d") + timedelta(days=-4)).strftime("%Y-%m-%d"))
end_dt = str(df_st1['Date'].iloc[0])
end_dt =  str((datetime.strptime(end_dt, "%Y-%m-%d") + timedelta(days=4)).strftime("%Y-%m-%d"))
compny = df_st1['symbol'].iloc[0]
PATH2 = PATH + compny+'_label2.2.csv'
PATH = PATH+compny+'_label2.1.csv'
if compny =='BRK.A':
  compny = 'BRK-A'
elif compny =='BRK.A':
  compny ='BRK-B'
elif compny =='VIX':
  compny = '^VIX'
else:
  pass
yahoo_data = yf.download(compny, start=start_dt, end=end_dt)
yahoo_data.reset_index(level=0, inplace=True)
yahoo_data.columns

In [ ]:
import pandas as pd
start_date = start_dt
end_date = end_dt

df_prices = pd.DataFrame(yahoo_data)
# all_days = pd.date_range(start=start_date, end=end_date, freq='D')
# df_prices.info
df_prices['Date'] =  pd.to_datetime(df_prices['Date'], format='%Y-%m-%d')
# df_prices = df_prices.sort_values(by=['Date'], ascending=[True])
# df_prices.set_index('Date', inplace=True)
# df_prices = df_prices.reindex(all_days).reset_index().rename(columns={"index":"Date"})
# df_prices.reset_index(level=0, inplace=True)
df_prices[:10]
# df_prices.iloc[0][5]

        Date       Open       High        Low      Close  Adj Close    Volume
0 2009-09-14  55.230000  55.490002  55.049999  55.299999  39.092758  11139000
1 2009-09-15  55.560001  55.630001  54.889999  55.029999  38.901878  11674300
2 2009-09-16  55.080002  55.450001  54.610001  55.310001  39.099812  12932200
3 2009-09-17  55.330002  56.110001  55.299999  55.529999  39.255344  10665300
4 2009-09-18  56.570000  57.509998  56.500000  57.320000  40.520733  25880200
5 2009-09-21  57.349998  57.459999  56.750000  57.099998  40.365208  11672200
6 2009-09-22  57.299999  57.509998  56.959999  57.240002  40.464172  11517000
7 2009-09-23  57.340000  58.049999  57.150002  57.250000  40.471237  14611400
8 2009-09-24  57.380001  57.970001  57.299999  57.840000  40.888332  13589500
9 2009-09-25  58.000000  58.500000  57.919998  58.009998  41.008514  13477500

In [ ]:
####Comparing Close price and Open Price of Same day (close-open)/open
price_change = []
for i in range(len(df_prices)):
  change = ((df_prices.iloc[i][4]-df_prices.iloc[i][1])/df_prices.iloc[i][1])*100
  price_change.append(change)
df_prices['PriceChange'] = price_change
df_prices.head(5)

        Date       Open       High  ...  Adj Close    Volume  PriceChange
0 2009-09-14  55.230000  55.490002  ...  39.092758  11139000     0.126742
1 2009-09-15  55.560001  55.630001  ...  38.901878  11674300    -0.953928
2 2009-09-16  55.080002  55.450001  ...  39.099812  12932200     0.417574
3 2009-09-17  55.330002  56.110001  ...  39.255344  10665300     0.361462
4 2009-09-18  56.570000  57.509998  ...  40.520733  25880200     1.325791

[5 rows x 8 columns]

In [ ]:
tweet_dates = (df_st1['Date'].astype(str)).tolist() #len(tweet_dates)
stock_dates = (df_prices['Date'].astype(str)).tolist() #len(stock_dates)
percentage_change = df_prices['PriceChange'].tolist() #len(percentage_change)
tweet_time = df_st1['Time'].tolist() 
# percentage_date = (df_prices['Date'].astype(str)).tolist() #len(percentage_date)
print(len(tweet_dates))
print(len(stock_dates))
print(len(percentage_change))
print(len(tweet_time))

31413

In [ ]:
check =1
for da in tweet_dates:
  # if check == 1:
  #   if da not in stock_dates:
  #     continue
  # else:
  #   check = 2
  if da not in stock_dates:
    flag1 = False
    temp1_da = da
    # print(temp1_da)
    while flag1 == False:
      temp1_da = datetime.strptime(temp1_da, "%Y-%m-%d") + timedelta(days=-1)
      temp1_da = datetime.strftime(temp1_da, "%Y-%m-%d")
      if temp1_da not in stock_dates:
        continue
      else:
        flag1=True
        flag2 = False
        temp2_da = da
        while flag2 == False:
          temp2_da = datetime.strptime(temp2_da, "%Y-%m-%d") + timedelta(days=1)
          # print('check3', temp2_da)
          temp2_da = datetime.strftime(temp2_da, "%Y-%m-%d")
          # print('check4', temp2_da)
          if temp2_da not in stock_dates:
            # print('check3')
            continue
          else:
            flag2= True
            day_before_change = 0
            day_after_change = 0
            count = 0
            for dat, per_change in zip(stock_dates,percentage_change):
              count
              if temp1_da == dat:
                day_before_change = per_change
                count = count +1
              elif temp2_da == dat:
                day_after_change = per_change
                count = count +1
              if count == 2:
                
                mean_change = (day_before_change+day_after_change)/2
                # print(da,mean_change)
                stock_dates.append(da)
                percentage_change.append(mean_change)
                break
              else:
                continue
print(len(percentage_change))
print(len(stock_dates))

3523
3523

In [ ]:
print(len(percentage_change))
print(len(stock_dates))
print(len(tweet_dates))
a = set(stock_dates) 
print(len(a))
b = set(tweet_dates) 
print(len(b))

3523
3523
31413
3523
3000

In [ ]:
tweet_polarity = []
# stock_change = []
# for date,pc in zip(stock_dates,percentage_change): 
#   stock_change.append((date,pc))    #len(stock_change)
msg_tweet = df_st1['message'].tolist()  #len(msg_tweet)
# msg_grouped = []
# for date,msg in zip(tweet_dates,msg_tweet): #len(msg_grouped)
#   msg_grouped.append((date,msg))

counter = 0
for date, pc in zip(stock_dates,percentage_change):
  for datetweet in tweet_dates:

    if date == datetweet:
      if pc > 0.5:
        tweet_polarity.append(1)
      elif pc < -0.5:
        tweet_polarity.append(-1)
      else:
        tweet_polarity.append( 0)

print(len(tweet_polarity))
print(len(tweet_dates))

31413
31413

In [ ]:
dict_sameday = {'date': tweet_dates,'message': msg_tweet, 'label': tweet_polarity, 'time': tweet_time}  
    
df_labelled = pd.DataFrame(dict_sameday)

In [ ]:
# df_labelled.to_csv(PATH, header=True, index=False, encoding='utf_8')

In [ ]:
def get_label(ch):
  if ch>0.5:
    return 1
  elif ch<-0.5:
    return -1
  else:
    return 0

In [ ]:
date_label = []
dates_index = []
stock_close = df_prices['Close']
for i in range(1,len(stock_close)):
  label=99
  # daydiff = datetime.strptime(datetime.strftime(stock_dates[i], "%Y-%m-%d"), "%Y-%m-%d") - datetime.strptime(datetime.strftime(stock_dates[i-1], "%Y-%m-%d"),"%Y-%m-%d")
  daydiff = datetime.strptime(stock_dates[i], "%Y-%m-%d") - datetime.strptime(stock_dates[i-1], "%Y-%m-%d")
  if daydiff.days == 1:
    change = ((stock_close[i]-stock_close[i-1])/stock_close[i-1])*100
    if change>0.5:
      label = 1
    elif change<-0.5:
      label = -1
    else:
      label = 0
    date_label.append((datetime.strptime(stock_dates[i], "%Y-%m-%d"), change,label))
    dates_index.append(datetime.strptime(stock_dates[i], "%Y-%m-%d"))
  else:
    daysgap = daydiff.days
    daysadd = 1
    change_l = ((stock_close[i]-stock_close[i-1])/stock_close[i-1])*100
    while daysgap >1:
      # gapDate = datetime.strptime(datetime.strftime(stock_dates[i-1], "%Y-%m-%d"), "%Y-%m-%d") + timedelta(days=daysadd)
      gapDate = datetime.strptime(stock_dates[i-1], "%Y-%m-%d") + timedelta(days=daysadd)
      change_g_mean = (change_l + date_label[-1][1])/2
      if change_g_mean>0.5:
        label = 1
      elif change_g_mean<-0.5:
        label = -1
      else:
        label = 0
      date_label.append((datetime.strftime(gapDate, "%Y-%m-%d"), change_g_mean,label))
      dates_index.append(datetime.strftime(gapDate, "%Y-%m-%d"))
      daysgap = daysgap - 1
      daysadd = daysadd + 1
    label = get_label(change_l)
    date_label.append((datetime.strptime(stock_dates[i], "%Y-%m-%d"), change_l,label))
    dates_index.append(datetime.strptime(stock_dates[i], "%Y-%m-%d"))

  # temp2_da = datetime.strftime(temp2_da, "%Y-%m-%d")

In [ ]:
polarity = []
change = []
for index, row in df_st1.iterrows():
  
  d1 = datetime.strftime(row['Date'], "%Y-%m-%d")   #2020-07-21T21:37:30Z	
  d2 = datetime.strptime(d1, "%Y-%m-%d")
  if d2 not in dates_index:
    change.append(-99)
    polarity.append(-99)
    continue
  d_index = dates_index.index(d2)
  polarity.append(date_label[d_index][2])
  change.append(date_label[d_index][1])
# df_st1['change'] = change
df_st1['label'] = polarity

In [ ]:
# Drop polarity -99
df_st1.drop(df_st1[df_st1['label'] == -99].index, inplace = True)

In [ ]:
# df_st1['datetime'] = df_st1['datetime'].astype('datetime64[ns]') #len(df_st1['datetime'])
# df_st1['Date'] = [d.date() for d in df_st1['datetime']]   #len(df_st1['Date'])
# df_st1['Time'] = [d.time() for d in df_st1['datetime']]

In [ ]:
# dict_prevday = {'date': tweet_dates,'message': msg_tweet, 'label': polarity, 'time': tweet_time}  
    
# df_labelled = pd.DataFrame(dict_sameday)

In [ ]:
df_st1.to_csv(PATH2, header=True, index=False, encoding='utf_8')