<a href="https://colab.research.google.com/github/mjag7682/CS9-1-NLP-for-Twitter-Data-for-predicting-stocks/blob/master/Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Imports

Loading the required imports

In [ ]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split

Mounting the Google Drive

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

##Data

Loading the Dataset

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Data/Combined_FAANG_percentage_2.2.csv', sep=',')
df = df.sample(frac=1)
df.head()

        symbol  ... label
1844914  GOOGL  ...    -1
1804415  GOOGL  ...    -1
1585770   AMZN  ...     0
830008    AAPL  ...    -1
1224140   AAPL  ...     1

[5 rows x 8 columns]

Limiting dataset to 1 year

In [ ]:
df.drop(df[df['Date'] <= '2019-07-20'].index, inplace = True) 
df

        symbol  ... label
1804415  GOOGL  ...    -1
2003832   NFLX  ...    -1
88437     AAPL  ...    -1
1950970   NFLX  ...     1
1261725   AMZN  ...     1
...        ...  ...   ...
1912123   NFLX  ...    -1
1928828   NFLX  ...     1
1806221  GOOGL  ...     0
1249623   AMZN  ...     1
90809     AAPL  ...     1

[514320 rows x 8 columns]

Dropping Neutral labels

In [ ]:
df.drop(df[df['label']==0].index, inplace= True)
df['label'].replace({-1:0}, inplace = True)

In [ ]:
df["label"].value_counts()

1    238950
0    170484
Name: label, dtype: int64

##Splitting Dataset

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df['message'], df['label'], 
                                                                            random_state = 42, test_size = 0.1)

##TF-IDF Vectorizer

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf_idf = TfidfVectorizer(use_idf=True,ngram_range=(2,2))

In [ ]:
#Extracting features of the training data
train_features = tf_idf.fit_transform(X_train)

#Extracting features of the test data
test_features = tf_idf.transform(X_test)

##Naive Bayes

Training the Model

In [ ]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB(alpha=0.1)
model.fit(train_features, y_train)

model.score(test_features, y_test)

0.6185765924189136

Prediction on Test set

In [ ]:
y_pred = model.predict(test_features)

## Classification Report

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.56      0.40      0.47     16998
           1       0.64      0.77      0.70     23946

    accuracy                           0.62     40944
   macro avg       0.60      0.59      0.58     40944
weighted avg       0.61      0.62      0.60     40944